$fuchsia: #8d233c;
$orange: #b24029;
$salmon: #be7560;
$green: #8d9e6b;
$emerald: #2C514C;
$dark: #101E1C;
$light: #ffffff;

$hFont: 'Montez', cursive;
$pFont:  'Alice', serif;

$gradient: linear-gradient(120deg, $fuchsia,  $orange, $salmon, $green, $emerald);

$navMap: ('.nav-1': $fuchsia, '.nav-2': $orange, '.nav-3': $salmon, '.nav-4': $green, '.nav-5': $emerald);

$faqMap: ('.card-1': $fuchsia, '.card-2': $orange, '.card-3': $emerald);

$titleLength: 18;
$delay:0;

@mixin hover-animation(){
animation: Hover 0.2s ease;
animation-fill-mode: forwards;
}

@keyframes Hover {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}


/* --------- GENERAL --------- */

body{
  margin:0;
  color: $dark;
  background-color: $light;
}

.content{
  margin: 10%;
  font-family: $pFont;
}

h2{
  font-size: 2em;
}

h3{
    font-size: 1.5em;
}

h4{
    font-size: 1.2em;
}




/* ---------- HEADER --------- */

#header{
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 200px 300px 100px;
  grid-template-areas:
       "icon    picture"
       "title   picture"
       ".       picture";
  justify-items: center;
  place-items: stretch stretch;
  width: 100%;
}

#header .icon{
  grid-area: icon;
  background-color: #8d9e6b;
  justify-self: center;
  align-self: end;
}

path{
  stroke-dasharray: 300;
  opacity: 10;
  animation: animate 5500ms;
}

@keyframes animate{
  0%{
    opacity:10;
    stroke-dashoffset: 300;
  }
  100%{
    opacity:10;
    stroke-dashoffset: 0;
  }
}

#header .title{
  grid-area: title;
  justify-self: center;
  align-self: start;
  color: $dark;
  font-family: $hFont;
  font-weight: bolder;
}

/* --- title animation --- */

.title span{
  opacity: 0;
  animation: Show .8s ease;
  animation-fill-mode: forwards;
}

@for $i from 1 through $titleLength{
  .title span:nth-child(#{$i}){
    animation-delay: $delay+s;
    $delay: $delay+0.03;
  }
}

@keyframes Show {
  0% {
    opacity: 0;
    font-size: 0.01em;
  }
  100% {
    opacity: 1;
    font-size: 4.5em;
  }
}

#header .pic{
  grid-area: picture;
  background-image: url("../images/96454ce2260416f1d93fef32e4a58ecf.jpg");
  background-size: cover;
  background-position: center;
  z-index:-999;
}



/* --------- NAVIGATION --------- */

#navigation{
    display: flex;
    margin-top: -100px;
    height: 100px;
    background-color: $light;
    width: 60%;
    transition: width 1.5s ease;
    z-index:9;
    color: $light;
    box-shadow: 0px 0px 8px 0px rgba(12,23,21,0.3);
}

#navigation ul{
  list-style: none;
  display: flex;
  width: 100%;
  text-align: center;
  align-items: stretch;
  margin: 0;
  padding: 0px;
  flex-flow: row wrap;
}

#navigation li{
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-family: $pFont;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
}


#navigation .hidden{
  opacity:0;
}
#navigation.fixed-nav{
  margin-top: 0px !important;
  position: fixed;
  width:100% !important;
  top:0;
  height: 70px !important;

}

#navigation .logo{
  max-width: 0;
  overflow: hidden;
  text-transform: lowercase;
  font-weight: 900;
  font-size: 2.5em;
  font-family: $hFont;
  transition: all 1.5s;
  background: $gradient;
  background-size: 90%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
#navigation.fixed-nav .logo{
  max-width: 500px;
}

@each $nav, $color in $navMap
{#{$nav}
  {background-color: $color;}

  #{$nav}:hover
    {
      color: $color;
      background-color: $light;
      transition: all .5s ease-out;
    }
}


/* --------- VARIETIES --------- */

#varieties .wrapper{
    overflow: hidden;
    position: relative;
    color: $dark;
    box-shadow: inset 0px 0px 10px 1px rgba(141,158,107,0.7);
}

#varieties .slider{
  text-align: center;
  height: 580px;
  transition: transform 0.7s ease;
  margin: 0, 10px;
}

#varieties .slide{
  width: 100%;
  height: 90%;
  padding: 2.5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}
#varieties .slide.active{
  opacity: 1;
}

/* --- chosen --- */

#varieties .chosen{
  position: relative;
  display:grid;
  justify-items: center;
}

#varieties .chosen .chosen-title{
  margin: 0;
  padding: 10px;
  text-transform: lowercase !important;
  font-weight: normal;
  color: $dark;
  position: absolute;
  bottom: 0;
}

#varieties .chosen .chosen-title span{
  font-style: italic;
}

#varieties .chosen img{
  width: 80%;
}

/* --- species --- */

#varieties .species{
    text-align: left;
}
#varieties .species h2{
  font-size: 2.5em;
  text-transform: uppercase;
    margin: 0px;
}
#varieties .species p{
  color: $emerald;
  cursor:pointer;
  font-size: 1.2em;
}
#varieties .species p:hover{
  color: $green;
}

#varieties .species .active-specie{
  color:$green;
  font-weight: bold;
}


/* --- slide-1 grid --- */
#varieties #slide-4 .species{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "title      title"
  "leftTop    rightTop"
  "bottom     bottom"
}

#varieties .species #agave{
  grid-area: leftTop;
}
#varieties .species #yucca{
  grid-area: bottom;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#varieties .species #yucca h3{
grid-column:1/-1;
margin: 0;
justify-self: left;
}
#varieties .species #agavoidae-mixed{
  grid-area: rightTop;
}





/* --- points --- */

#varieties .nav-points{
  position: absolute;
  top:0px;
  right: 0;
  padding: 10px;
}

#varieties .nav-points span{
  display: block;
  cursor: pointer;
  color: $emerald;
}

#varieties .nav-points span:hover{
  display: block;
  cursor: pointer;
  color: $green;
}

#varieties .nav-points span.active{
  color: $green;
}

#varieties .nav-points span::before{
  content: '\25A1';
}

#varieties .nav-points span.active::before{
  content: '\25A0';
}


/* --------- FAQ --------- */

#faq{
  display: flex;
  text-align: center;
  min-height: 350px;
  color: $light;
}


/* --- cards --- */

 #faq .card{
   display: flex;
   flex: 1;
   text-align: center;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transform-style: preserve-3d;
   transition: 0.5s;

 }

#faq .card.flipped {
  transform: rotatey(-180deg);
}

#faq .front, .back{
 z-index: 2;
 text-align: center;
 backface-visibility: hidden;
}

 #faq .card .front {
  text-transform: uppercase;
  position: absolute;
  z-index: 1;

}



 #faq .card .back {
  width: 100%;
  height: 100%;
  background: $light;
  border-style: solid;
  cursor: default;
  transform: rotatey(-180deg);


}




#faq .card-2{
  margin: 0 10px;
}

@each $card, $color in $faqMap{
  #{$card}{
    background-color: $color;
  }
  #{$card} .back{
    border-color: $color;
    color: $color;
  }
  #{$card} .card-title{
    background-color: $color;
    color: $light;
  }
}

/* --- back card --- */

#faq .back input{
  display: none;
}

#faq .back .card-title{
  position: sticky;
  top:0;
  width: 100%;
}

#faq .back .card-title h4{
  text-transform: uppercase;
  margin: 0;
  padding: 5px;
}

#faq .back .question{
  padding: 10px;
  text-align: left;
}

#faq .back p{
  font-size: 1.2em;
}

#faq .back .q{
  font-weight: bold;
  margin-bottom: 0px;
      cursor: pointer;
}


#faq .back .a{
  font-style: italic;
  overflow: hidden;
  height: 0px;
  transition: height 0.5s ease;
}

#faq .back .question.active .a{
  cursor: pointer;
}



/* --------- GALLERY --------- */

#gallery {
  overflow: hidden;
  position: relative;
  margin: 5% 0% 0% 0%;
}

#gallery .wrapper{
  display:grid;
  grid-template-rows: 550px;
  grid-gap: 0px;
   grid-auto-flow: column;
   transition: all 0.5s ease-out;
}

#gallery img{
  height:100%;
}

#gallery .move{
  border-style: none;
  color: $light;
  background-color: rgba(rgb(229, 229, 229), 0.3);
  height: 550px;
  width: 100px;
  position: absolute;
  top: 0;
  opacity: 0;
  font-size: 2em;
  font-weight: bold;
}

#gallery .move:hover{
  opacity: 1;
}

#gallery .next{
  right: 0;
}


/* --------- CONTACT --------- */

#contact img{
  width: 75%;
}

#contact .btn{
  font-size: 1.2em;
  text-transform: uppercase;
  float: right;
  color: $light;
  background: $gradient;
  background-size: 200% 200%;
  padding: 10px 15px;
  border-style: none;
  background-position: 100% 100%;
  cursor: pointer;
}


#contact .btn:hover{
 @include hover-animation();
}





#contact .overlay{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s ease;
  z-index: 99;
}

#contact .overlay.hidden{
  opacity: 0;
  display: none;
}

#contact .popup{
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  //border: 3px solid $dark;
  //border-image: $gradient 50;
  background: $light;
  transition: opacity 0.5s ease;
}

#contact .popup.hidden{
  opacity:0;
  transform: translate(-200px, 0px);
}

#contact .contact-form{
    margin: 70px;
}

#contact h4.close{
  margin: 10px;
  float: right;
  cursor: pointer;
  color: $dark;
}

#contact h4.close:hover{
  color: $emerald;
}

#contact .box{
    margin-top: 25px;
}

#contact input, textarea{
  font: $pFont;
  color: $dark;
  font-size: 1.5em;
  border-style: none;
  border-bottom: 1px solid $dark;
  display: block;
  width: 100%;
  max-width: 100%;
  margin-top: 5px;
}

#contact input:focus, textarea:focus{
  border-bottom: 2px solid;
  outline-style: none;
  border-image: $gradient 50;
}

#contsact span.validate{
  font-weight: bold;
  color: $fuchsia;
}

#contact button#send{
  margin-top:20px;
  width:100%;
}





/* --------- MEDIA QUERIES --------- */

@media only screen and (max-width: 1024px){
  #header{
    grid-template-rows: 200px 200px;
    grid-template-areas:
         "icon    picture"
         "title   picture";
  }
  #navigation{
      margin-top: 0px;
      width: 100%;
  }

  #navigation li{
      font-size: 1.1em;
  }

  #navigation .logo{
      font-size: 2.2em;
  }

  #faq{
    flex-direction:column;
    text-align: center;
    align-items: center;
  }

  #faq .card{
    width: 500px;
    min-height:300px;
    margin-bottom: 10px;
  }

  #faq .card .back{
    min-height:300px;
  }
}

@media only screen and (max-width: 768px){}

@media only screen and (max-width: 520px){}

@media only screen and (max-width: 330px){
  #header{
    grid-template-rows: 250px 100px 100px;
    grid-template-areas:
         "picture picture"
         "icon icon"
         "title title";
  }

  svg{
      width:50px;
  }

  @keyframes Show {
    0% {
      opacity: 0;
      font-size: 0.01em;
    }
    100% {
      opacity: 1;
      font-size: 3.5em;
    }
  }

  #navigation{
      margin-top: 0px;
      width: 100%;
  }

  #navigation li{
      font-size: 1.1em;
  }

  #navigation .logo{
      font-size: 2.2em;
  }

  #faq{
    flex-direction:column;
    text-align: center;
    align-items: center;
  }

  #faq .card{
    width: 500px;
    min-height:300px;
    margin-bottom: 10px;
  }

  #faq .card .back{
    min-height:300px;
  }
}
