@-webkit-keyframes Hover {
  0% {
    background-position: 100% 100%; }
  100% {
    background-position: 0% 0%; } }

@keyframes Hover {
  0% {
    background-position: 100% 100%; }
  100% {
    background-position: 0% 0%; } }

/* --------- GENERAL --------- */
html {
  font-size: 16px; }

body {
  margin: 0;
  color: #101E1C;
  background-color: #ffffff;
  max-width: 1920px;
  font-size: 1rem; }

.content {
  margin: 10%;
  font-family: "Alice", serif; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.2rem; }

/* ---------- HEADER --------- */
#header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 300px 200px 100px;
  grid-template-areas: "icon    picture" "title   picture" ".       picture";
  justify-items: center;
  place-items: stretch stretch;
  width: 100%; }
  #header .icon {
    grid-area: icon;
    width: 25%;
    justify-self: center;
    -ms-flex-item-align: end;
        align-self: end; }
  #header .title {
    grid-area: title;
    justify-self: center;
    -ms-flex-item-align: start;
        align-self: start;
    color: #101E1C;
    font-family: "Montez", cursive;
    font-weight: bolder; }
  #header .pic {
    grid-area: picture;
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-position: center;
    z-index: -999; }

path {
  stroke: black;
  stroke-width: 2;
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  -webkit-animation: animate 3000ms;
          animation: animate 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes animate {
  0% {
    stroke-dashoffset: 700;
    fill: transparent; }
  100% {
    stroke-dashoffset: 0;
    fill: black; } }

@keyframes animate {
  0% {
    stroke-dashoffset: 700;
    fill: transparent; }
  100% {
    stroke-dashoffset: 0;
    fill: black; } }

/* --- title animation --- */
.title span {
  opacity: 0;
  -webkit-animation: Show .8s ease;
          animation: Show .8s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.title span:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }

.title span:nth-child(2) {
  -webkit-animation-delay: 0.03s;
          animation-delay: 0.03s; }

.title span:nth-child(3) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s; }

.title span:nth-child(4) {
  -webkit-animation-delay: 0.09s;
          animation-delay: 0.09s; }

.title span:nth-child(5) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s; }

.title span:nth-child(6) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s; }

.title span:nth-child(7) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s; }

.title span:nth-child(8) {
  -webkit-animation-delay: 0.21s;
          animation-delay: 0.21s; }

.title span:nth-child(9) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s; }

.title span:nth-child(10) {
  -webkit-animation-delay: 0.27s;
          animation-delay: 0.27s; }

.title span:nth-child(11) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }

.title span:nth-child(12) {
  -webkit-animation-delay: 0.33s;
          animation-delay: 0.33s; }

.title span:nth-child(13) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s; }

.title span:nth-child(14) {
  -webkit-animation-delay: 0.39s;
          animation-delay: 0.39s; }

.title span:nth-child(15) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s; }

.title span:nth-child(16) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s; }

.title span:nth-child(17) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s; }

.title span:nth-child(18) {
  -webkit-animation-delay: 0.51s;
          animation-delay: 0.51s; }

@-webkit-keyframes Show {
  0% {
    opacity: 0;
    font-size: 0.01rem; }
  100% {
    opacity: 1;
    font-size: 4.5rem; } }

@keyframes Show {
  0% {
    opacity: 0;
    font-size: 0.01rem; }
  100% {
    opacity: 1;
    font-size: 4.5rem; } }

/* --------- NAVIGATION --------- */
#navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -100px;
  height: 100px;
  background-color: #ffffff;
  width: 60%;
  -webkit-transition: width 1.5s ease;
  -o-transition: width 1.5s ease;
  transition: width 1.5s ease;
  z-index: 9;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(12, 23, 21, 0.3);
          box-shadow: 0px 0px 8px 0px rgba(12, 23, 21, 0.3); }

#navigation ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

#navigation li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  font-family: "Alice", serif;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer; }

#navigation .hidden {
  opacity: 0; }

#navigation.fixed-nav {
  margin-top: 0px !important;
  position: fixed;
  width: 100% !important;
  top: 0;
  height: 70px !important; }

#navigation .logo {
  max-width: 0;
  overflow: hidden;
  text-transform: lowercase;
  font-weight: 900;
  font-size: 2.5rem;
  font-family: "Montez", cursive;
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
  background: -webkit-linear-gradient(330deg, #8d233c, #b24029, #be7560, #8d9e6b, #2C514C);
  background: -o-linear-gradient(330deg, #8d233c, #b24029, #be7560, #8d9e6b, #2C514C);
  background: linear-gradient(120deg, #8d233c, #b24029, #be7560, #8d9e6b, #2C514C);
  background-size: 90%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

#navigation.fixed-nav .logo {
  max-width: 500px; }

.nav-1 {
  background-color: #8d233c; }

.nav-1:hover {
  color: #8d233c;
  background-color: #ffffff;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out; }

.nav-2 {
  background-color: #b24029; }

.nav-2:hover {
  color: #b24029;
  background-color: #ffffff;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out; }

.nav-3 {
  background-color: #be7560; }

.nav-3:hover {
  color: #be7560;
  background-color: #ffffff;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out; }

.nav-4 {
  background-color: #8d9e6b; }

.nav-4:hover {
  color: #8d9e6b;
  background-color: #ffffff;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out; }

.nav-5 {
  background-color: #2C514C; }

.nav-5:hover {
  color: #2C514C;
  background-color: #ffffff;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out; }

/* --------- VARIETIES --------- */
#varieties .wrapper {
  overflow: hidden;
  position: relative;
  color: #101E1C;
  background-color: #fff;
  -webkit-box-shadow: inset 0px 0px 10px 1px rgba(141, 158, 107, 0.7);
          box-shadow: inset 0px 0px 10px 1px rgba(141, 158, 107, 0.7); }

#varieties .slider {
  text-align: center;
  height: 580px;
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  -o-transition: transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
  margin: 0, 10px; }

#varieties .slide {
  width: 95%;
  height: 90%;
  padding: 2.5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden; }

#varieties .slide.active {
  opacity: 1; }

/* --- chosen --- */
#varieties .chosen {
  position: relative;
  display: grid;
  justify-items: center; }
  #varieties .chosen img {
    width: 420px; }
  #varieties .chosen .chosen-title {
    margin: 0;
    padding: 10px;
    text-transform: lowercase !important;
    font-weight: normal;
    color: #101E1C;
    font-size: 1.5rem; }
    #varieties .chosen .chosen-title span {
      font-style: italic; }

/* --- species --- */
#varieties .species {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 55px; }
  #varieties .species h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0px;
    grid-column: span 2; }
  #varieties .species p {
    color: #2C514C;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 10px; }
  #varieties .species p:hover {
    color: #8d9e6b; }
  #varieties .species .active-specie {
    color: #8d9e6b;
    font-weight: bold; }

/* --- points --- */
#varieties .nav-points {
  position: absolute;
  top: 0px;
  right: 0;
  padding: 10px; }

#varieties .nav-points span {
  display: block;
  cursor: pointer;
  color: #2C514C; }

#varieties .nav-points span:hover {
  display: block;
  cursor: pointer;
  color: #8d9e6b; }

#varieties .nav-points span.active {
  color: #8d9e6b; }

#varieties .nav-points span::before {
  content: '\25A1'; }

#varieties .nav-points span.active::before {
  content: '\25A0'; }

/* --------- FAQ --------- */
#faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  min-height: 350px;
  color: #ffffff; }

/* --- cards --- */
#faq .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

#faq .card.flipped {
  -webkit-transform: rotatey(-180deg);
      -ms-transform: rotatey(-180deg);
          transform: rotatey(-180deg); }

#faq .front, .back {
  z-index: 2;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

#faq .card .front {
  text-transform: uppercase;
  position: absolute;
  z-index: 1; }

#faq .card .back {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-style: solid;
  cursor: default;
  -webkit-transform: rotatey(-180deg);
      -ms-transform: rotatey(-180deg);
          transform: rotatey(-180deg); }

#faq .card-2 {
  margin: 0 10px; }

.card-1 {
  background-color: #8d233c; }

.card-1 .back {
  border-color: #8d233c;
  color: #8d233c; }

.card-1 .card-title {
  background-color: #8d233c;
  color: #ffffff; }

.card-2 {
  background-color: #b24029; }

.card-2 .back {
  border-color: #b24029;
  color: #b24029; }

.card-2 .card-title {
  background-color: #b24029;
  color: #ffffff; }

.card-3 {
  background-color: #2C514C; }

.card-3 .back {
  border-color: #2C514C;
  color: #2C514C; }

.card-3 .card-title {
  background-color: #2C514C;
  color: #ffffff; }

/* --- back card --- */
#faq .back input {
  display: none; }

#faq .back .card-title {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%; }

#faq .back .card-title h4 {
  text-transform: uppercase;
  margin: 0;
  padding: 5px; }

#faq .back .question {
  padding: 10px;
  text-align: left; }

#faq .back p {
  font-size: 1.2rem; }

#faq .back .q {
  font-weight: bold;
  margin-bottom: 0px;
  cursor: pointer; }

#faq .back .a {
  font-style: italic;
  overflow: hidden;
  height: 0px;
  -webkit-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease; }

#faq .back .question.active .a {
  cursor: pointer; }

/* --------- GALLERY --------- */
#gallery {
  overflow: hidden;
  position: relative;
  margin: 5% 0% 0% 0%; }

#gallery .wrapper {
  display: grid;
  grid-template-rows: 550px;
  grid-gap: 0px;
  grid-auto-flow: column;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

#gallery img {
  height: 100%;
  width: auto; }

#gallery .move {
  border-style: none;
  color: #ffffff;
  background-color: rgba(229, 229, 229, 0.3);
  height: 550px;
  width: 100px;
  position: absolute;
  top: 0;
  opacity: 0;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer; }

#gallery .move:hover {
  opacity: 1; }

#gallery .next {
  right: 0; }

/* --------- CONTACT --------- */
#contact {
  background-image: url("../images/footer.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 80%;
  padding: 20% 10% 30% 0%; }
  #contact h1, #contact h3 {
    text-align: right; }
  #contact h1 {
    color: #2C514C;
    font-style: italic;
    font-size: 2.5rem; }
  #contact h3 {
    color: #8d9e6b;
    font-weight: 300; }

#contact .btn {
  font-size: 1.2rem;
  text-transform: uppercase;
  float: right;
  color: #ffffff;
  background: -webkit-linear-gradient(330deg, #8d233c, #b24029, #be7560, #8d9e6b, #2C514C);
  background: -o-linear-gradient(330deg, #8d233c, #b24029, #be7560, #8d9e6b, #2C514C);
  background: linear-gradient(120deg, #8d233c, #b24029, #be7560, #8d9e6b, #2C514C);
  background-size: 200% 200%;
  padding: 10px 15px;
  border-style: none;
  background-position: 100% 100%;
  cursor: pointer; }

#contact .btn:hover {
  -webkit-animation: Hover 0.2s ease;
          animation: Hover 0.2s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

#contact .overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 99; }

#contact .overlay.hidden {
  opacity: 0;
  display: none; }

#contact .popup {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10px;
  background: #ffffff;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }

#contact .popup.hidden {
  opacity: 0;
  -webkit-transform: translate(-200px, 0px);
      -ms-transform: translate(-200px, 0px);
          transform: translate(-200px, 0px); }

#contact .contact-form {
  margin: 70px; }

#contact h4.close {
  margin: 10px;
  float: right;
  cursor: pointer;
  color: #101E1C; }

#contact h4.close:hover {
  color: #2C514C; }

#contact .box {
  margin-top: 25px; }

#contact input, textarea {
  font: "Alice", serif;
  color: #101E1C;
  font-size: 1.5rem;
  border-style: none;
  border-bottom: 1px solid #101E1C;
  display: block;
  width: 100%;
  max-width: 100%;
  margin-top: 5px; }

#contact input:focus, textarea:focus {
  border-bottom: 2px solid;
  outline-style: none;
  -webkit-border-image: -webkit-linear-gradient(330deg, #8d233c, #b24029, #be7560, #8d9e6b, #2C514C) 50;
       -o-border-image: -o-linear-gradient(330deg, #8d233c, #b24029, #be7560, #8d9e6b, #2C514C) 50;
          border-image: linear-gradient(120deg, #8d233c, #b24029, #be7560, #8d9e6b, #2C514C) 50; }

#contsact span.validate {
  font-weight: bold;
  color: #8d233c; }

#contact button#send {
  margin-top: 20px;
  width: 100%; }

/* --------- MEDIA QUERIES --------- */
@media only screen and (max-width: 1024px) {
  html {
    font-size: 14px; }
  #header {
    grid-template-rows: 200px 200px;
    grid-template-areas: "icon    picture" "title   picture"; }
  #navigation {
    margin-top: 0px;
    width: 100%; }
  #varieties .slider {
    height: 650px; }
  #varieties .slide {
    grid-template-columns: 1fr;
    height: 100%; }
  #varieties .species {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  #varieties .chosen {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 300px; }
  #varieties .chosen img {
    width: 30%; }
  #varieties .species {
    grid-auto-flow: dense; }
    #varieties .species h2 {
      display: block; }
  #faq {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  #faq .card {
    width: 500px;
    min-height: 300px;
    margin-bottom: 10px; }
  #faq .card .back {
    min-height: 300px; } }

@media only screen and (max-width: 330px) {
  #header {
    grid-template-rows: 250px 100px 100px;
    grid-template-areas: "picture picture" "icon icon" "title title"; }
  #navigation {
    margin-top: 0px;
    width: 100%; }
  #faq {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  #faq .card {
    width: 500px;
    min-height: 300px;
    margin-bottom: 10px; }
  #faq .card .back {
    min-height: 300px; } }
