p {
  font-family: "Libre Baskerville", serif;
}

body {
  background: white;
  margin: 0px;
}

#header {
  background: url("images/e_1.jpg");
  height: 300px;
  padding: 5% 10%;
  font-family: "Arapey";
}

#navigation {
  color: white;
  background-color: #163A2A;
  transition: opacity 2500ms;
  padding: 0%;
  box-shadow: -1px 2px 27px -6px rgba(22, 58, 42, 0.7);
}

.content {
  padding: 3% 10%;
}

.hidden {
  opacity: 0;
}

.fixed-nav {
  position: fixed;
  width: 100%;
  top: 0;
}

#navigation a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0px;
}

li {
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 10px 0px;
}

.logo {
  max-width: 0;
  overflow: hidden;
  text-transform: lowercase;
  background: white;
  color: #163A2A;
  font-weight: 900;
  font-size: 1.5em;
  transition: all 1.5s;
}

.fixed-nav .logo {
  max-width: 500px;
}

.wrapper {
  width: 10%;
  transition: width 1.5s;
}

path {
  stroke-dasharray: 300;
  opacity: 10;
  animation: animate 5500ms;
}

@-webkit-keyframes animate {
  0% {
    opacity: 10;
    stroke-dashoffset: 300;
  }
  100% {
    opacity: 10;
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes animate {
  0% {
    opacity: 10;
    stroke-dashoffset: 300;
  }
  100% {
    opacity: 10;
    stroke-dashoffset: 0;
  }
}
@-o-keyframes animate {
  0% {
    opacity: 10;
    stroke-dashoffset: 300;
  }
  100% {
    opacity: 10;
    stroke-dashoffset: 0;
  }
}
@keyframes animate {
  0% {
    opacity: 10;
    stroke-dashoffset: 300;
  }
  100% {
    opacity: 10;
    stroke-dashoffset: 0;
  }
}
.title, .subtitle {
  font-family: "Arapey";
  background: linear-gradient(110deg, #222B20, #6F9F9E);
  background-size: 40%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  font-size: 4em;
}

.subtitle {
  font-size: 3em;
}

button {
  color: white;
  background-color: #005659;
  padding: 20px;
  border-style: none;
}

button:hover {
  background: linear-gradient(110deg, #222B20, #6F9F9E);
  background-size: 400% 400%;
  -webkit-animation: Gradient 1.5s ease infinite;
  -moz-animation: Gradient 1.5s ease infinite;
  animation: Gradient 1.5s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.quote {
  background-color: #163A2A;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 20px 150px 20px;
  align-items: center;
  padding: 0 10%;
  margin: 15% 0;
}

.quote h3 {
  font-family: "Arapey";
  color: white;
  font-size: 2.5em;
  font-style: italic;
  font-weight: 200;
}

.quote img {
  width: 70%;
  grid-row: span 3;
}

/*# sourceMappingURL=style.css.map */
